



<div class="case-main-container">

    <app-sidenav></app-sidenav>
    <div class="case-main-content">
    
        <div class="case-main-header">
            <h1>Casos de Investigacion</h1>
    
            <div class="buscar">
                <app-search></app-search>
                 <!-- <app-search *ngIf="!showAddUser" (searchEvent)="onSearch($event)"></app-search>-->
               <!-- <button class="add-user" (click)="showAddUserForm()" *ngIf="!showAddUser">-->
                <button class="add-case" routerLink="/casos/addcaso" *ngIf="rol === 1">
                  Registrar Caso
                </button>
                <button class="add-case" *ngIf="rol !== 1">
                  Buscar
                </button>
              </div>

              <app-table-casos></app-table-casos>
              
              <!-- Mostrar la tabla solo si showAddUser es false
              <div *ngIf="!showAddCase">
                <app-table-users 
                (onSelected)="onUserSelected($event)"></app-table-users>
              </div>
              
               Mostrar el formulario add-case solo si showAddUser es true 
    
              <div *ngIf="showAddCase" >
                <app-add-Case (goBack)="hideAddUserForm()"
                  [usuarioSelected]="usuarioSelected" 
                ></app-add-user>
              </div>
            -->
    
    </div>
    
    </div>